<% content_for :summary do %>
  Your domain is now live
<% end %>

<p>
  Your custom domain is live and active!
</p>
<p>
  Occassionally, it can take up to 24 hours for DNS changes to propagate. If you have any issues, please respond to this email and we'll help you out.
</p>

<% content_for :button_label do %>Visit <%= @account.host %> &rarr;<% end %>

<% content_for :button_link do %><%= @account.url %><% end %>
