<p><%= @feedback.message %></p>

<br />
<br />
<p>--</p>
<p>From <%= @feedback.account.email %></p>
<p>On <a href="https://www.postcard.page<%= @feedback.path %>">postcard.page<%= @feedback.path %></a></p>