
<div class="flex flex-col" id="posts_table">
  <div class="pt-8 pb-40 -mx-4 overflow-visible overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
      <table class="min-w-full divide-y divide-gray-300">
        <thead>
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-950 sm:pl-6 md:pl-0">Title</th>
            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-950"><span class="sr-only">Featured status</span></th>
            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-950">Visibility</th>
            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-950">Published</th>
            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-950"><span class="sr-only">Options</span></th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <% posts.each do |post| %>
            <%= render partial: "table_row", locals: { post: post, account: account } %>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>