<div id="features">
  <div class="dashboard-container">
    <div class="lg:text-center">
      <h2 class="homepage-label">Features</h2>
      <p class="mt-2 text-4xl font-bold leading-8 tracking-tight text-gray-950 sm:text-5xl">All-in-one tool for your personal site</p>
       <%#<p class="max-w-2xl mt-4 text-xl text-gray-600 lg:mx-auto">Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in accusamus quisquam.</p>%>
    </div>

    <div class="mt-20">
      <dl class="space-y-20 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-10 md:gap-y-20">
        <div class="relative">
          <dt>
            <div class="absolute flex items-center justify-center w-12 h-12 rounded-md bg-accent text-gray-050">
              <%= heroicon "pencil", class: "h-6 w-6" %>
            </div>
            <p class="ml-16 text-lg font-medium leading-6 text-gray-925">Customizable, hosted page</p>
          </dt>
          <dd class="mt-2 ml-16 text-base text-gray-600">Set a profile photo, cover image, and color scheme - and update them at any time.</dd>
        </div>

        <div class="relative">
          <dt>
            <div class="absolute flex items-center justify-center w-12 h-12 rounded-md bg-accent text-gray-050">
              <%= heroicon "at-symbol", class: "h-6 w-6" %>
            </div>
            <p class="flex ml-16 text-lg font-medium leading-6 text-gray-900 align-center">
              Collect email signups
            </p>
          </dt>
          <dd class="mt-2 ml-16 text-base text-gray-600">Build a personal newsletter by embedding a signup on your site, with no extra software needed.</dd>
        </div>

        <div class="relative">
          <dt>
            <div class="absolute flex items-center justify-center w-12 h-12 rounded-md bg-accent text-gray-050">
              <%= heroicon "envelope", class: "h-6 w-6" %>
            </div>
            <p class="flex ml-16 text-lg font-medium leading-6 text-gray-900 align-center">
              Send emails to your list
            </p>
          </dt>
          <dd class="mt-2 ml-16 text-base text-gray-600">Send polished email updates to your subscribers from within Postcard.</dd>
        </div>

        <div class="relative">
          <dt>
            <div class="absolute flex items-center justify-center w-12 h-12 rounded-md bg-accent text-gray-050">
              <%= heroicon "link", class: "h-6 w-6" %>
            </div>
            <p class="ml-16 text-lg font-medium leading-6 text-gray-900">Custom domain  <span class="relative inline-flex ml-3 badge-secondary-gray">Premium</span></p>
          </dt>
          <dd class="mt-2 ml-16 text-base text-gray-600">Connect your own domain in minutes for a professional link that you can share across other websites.</dd>
        </div>

      </dl>
    </div>
  </div>
</div>
