<div
  data-controller="dropdown"
  data-transition-enter-from="opacity-0 scale-95"
  data-transition-enter-to="opacity-100 scale-100"
  data-transition-leave-from="opacity-100 scale-100"
  data-transition-leave-to="opacity-0 scale-95"
  >
  <button
    class="relative z-50 flex h-8 w-8 items-center justify-center select-none"
    aria-label="Toggle Navigation"
    role="button"
    data-action="click->dropdown#toggle click@window->dropdown#hide"
    data-dropdown-target="button"
    >
    <svg
      id="menu-icon"
      aria-hidden="true"
      class="h-3.5 w-3.5 overflow-visible stroke-gray-700 bg-white z-60 absolute"
      fill="none"
      stroke-width="2" stroke-linecap="round">
      <path d="M0 1H14M0 7H14M0 13H14" class="origin-center transition"></path>
      <path d="M2 2L12 12M12 2L2 12" class="origin-center transition scale-90 opacity-0"></path>
     </svg>
     <svg
      aria-hidden="true"
      class="h-3.5 w-3.5 overflow-visible stroke-gray-700"
      fill="none"
      stroke-width="2"
      stroke-linecap="round"
      >

      <path d="M0 1H14M0 7H14M0 13H14" class="origin-center transition scale-90 opacity-0"></path>
      <path d="M2 2L12 12M12 2L2 12" class="origin-center transition"></path>
    </svg>
  </button>

  <div data-dropdown-target="menu" class="hidden">
    <div
      class="fixed inset-0 bg-gray-300/50 opacity-100 z-35"
      aria-hidden="true"
      data-action="click->dropdown#_hide"
      >
    </div>
    <div
      class="absolute z-40 inset-x-0 top-full mt-4 flex origin-top flex-col rounded-2xl bg-white p-4 text-lg tracking-tight text-gray-900 shadow-xl ring-1 ring-gray-900/5 opacity-100 scale-100"
      tabindex="-1"
      >
      <% menuItems.each do |name, to| %>
        <a
          class="block w-full p-2"
          href="<%= to %>"
          data-action="click->dropdown#toggle"
          >
          <%= name %>
        </a>
      <% end %>

      <hr class="m-2 border-gray-300/40">

      <a
        class="block w-full p-2"
        href="<%= new_session_path('account') %>"
        data-action="click->dropdown#toggle"
        >
        Sign in
      </a>
    </div>
  </div>
</div>
