<% content_for :summary do %>
  Finish changing your Postcard password
<% end %>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p>If you didn't request this, please ignore this email.</p>

<% content_for :button_label do %>Change password &rarr;<% end %>

<% content_for :button_link do %><%= edit_password_url(@resource, reset_password_token: @token) %><% end %>
